<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit User</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'first_app/style.css' %}">
</head>
<body>
    <h1>Edit User</h1>
    <form action="/users/update/{{users.id}}" method="POST">
        {% csrf_token %}
        <h2>First Name:</h2>
        <input type="text" value="{{users.first_name}}" name="first_name">
        <h2>Last Name:</h2>
        <input type="text" value="{{users.last_name}}" name="last_name">
        <h2>Email:</h2>
        <input type="text" value="{{users.email}}" name="email">
        <input type="submit" value="Update"><br>
    </form>
    <form action="/users/{{users.id}}">
        <input type="submit" value="Show">
    </form>
    <form action="/users">
        <input type="submit" value="Go back">     
    </form>
    
</body>
</html>